{% extends 'prueba/base2.html' %}
{% block conten %}
    <form method="post" action=".">
        {% csrf_token %}
        <div class="alert alert-danger alert-dismissible">
            <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
            Esta seguro que desea eliminar este registro?
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm btn-flat">
                <i class="fas fa-sync"></i> Aceptar
            </button>
            <a href="{{ url }}"} class="btn btn-info btn-sm btn-flat">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </form>
{% endblock %}