{% extends 'prueba/base2.html' %}
{% load staticfiles %}
{% block head %}

    <link rel="stylesheet" href="{% static 'lib/adminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">



{% endblock %}
{% block conten %}
    <div class="card-header">
        <a href="{{ nuevo }}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Registro
        </a>
    </div>
    <div class="table-responsive">
        <table id="example1" class="table table-striped table-bordered " style="width: 100%">
            {% block table %}
            {% endblock %}
        </table>
    </div>
      <div class="card-footer">
            <button type="button" class="btn btn-warning btn-sm btn-flat"
                        onclick="location.reload();">
                    <i class="fas fa-sync"></i> Actualizar
                </button>
        </div>


{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'lib/dataTables/jQuery-3.3.1/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/dataTables/jQuery-3.3.1/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'lib/adminLTE/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/adminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/adminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            $('#example1').DataTable({
                responsive: true,
                autoWidth: false,
                 language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        },

            });
        });
        // Code that uses other library's $ can follow here.
    </script>
{% endblock %}
