{% extends '../../../sistema_yamaha/templates/prueba/list2.html' %}
{% block table %}
    <thead>
    <tr>
       <!-- <th class="center">
            <label class="pos-rel">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
            </label>
        </th> -->
        <th>Nombre </th>
        <th>Descripcion</th>
        <th>Valor de la Labor</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for labor in object_list %}
        <tr>
           <!-- <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace"/>
                    <span class="lbl"></span>
                </label>
            </td> -->
            <td>{{ labor.nombre }}</td>
            <td>{{ labor.descripcion }}</td>
            <td>{{ labor.valor_dia }}</td>
            <td>
               <a type="button" class="btn btn-outline-success btn-sm btn-round" data-toggle="tooltip"
                       title="Editar Datos"
                       href="{% url 'labor:editar' labor.id %}"><i class="fa fa-edit"></i>
                </a>
                <a type="button" class="btn btn-outline-danger btn-sm btn-round" data-toggle="tooltip"
                       title="Eliminar Datos"
                       href="{% url 'labor:eliminar' labor.id %}"><i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>

        {% endfor %}
</tbody>
{% endblock %}