{% extends 'prueba/list2.html' %}
{% block table %}
    <thead>
    <tr>
       <!-- <th class="center">
            <label class="pos-rel">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
            </label>
        </th> -->
        <th>Fecha</th>
        <th>Estado</th>
        <th>Empleado</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for asistencia in object_list %}
        <tr>
           <!-- <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace"/>
                    <span class="lbl"></span>
                </label>
            </td> -->
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.get_estado_display}}</td>
            <td>{{ asistencia.empleado }}</td>
            <td>
                 <a href="# %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="#" type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>

        {% endfor %}
</tbody>
{% endblock %}