{% extends 'prueba/list2.html' %}
{% block table %}
    <thead>
    <tr>
       <!-- <th class="center">
            <label class="pos-rel">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
            </label>
        </th> -->
        <th>Fecha</th>
        <th>Estado</th>
        <th>Empleado</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for asistencia in object_list %}
        <tr>
           <!-- <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace"/>
                    <span class="lbl"></span>
                </label>
            </td> -->
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.get_estado_display}}</td>
            <td>{{ asistencia.empleado }}</td>
            <td>
                  <a type="button" class="btn btn-outline-success btn-sm btn-round" data-toggle="tooltip"
                       title="Editar Datos"
                       href="#"><i class="fa fa-edit"></i>
                </a>
                <a type="button" class="btn btn-outline-danger btn-sm btn-round" data-toggle="tooltip"
                       title="Eliminar Datos"
                       href="#"><i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>

        {% endfor %}
</tbody>
{% endblock %}