{% extends '../../../sistema_yamaha/templates/prueba/list2.html' %}
{% block table %}
    <thead>
    <tr>
        <!--<th class="center">
            <label class="pos-rel">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
            </label>
        </th> -->
        <th>Cedula</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Estado Civil</th>
        <th>E.Primaria</th>
        <th>E. Secundaria</th>
        <th>E. Superior</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for empleado in object_list %}
        <tr>
           <!-- <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace"/>
                    <span class="lbl"></span>
                </label>
            </td> -->
            <td>{{ empleado.cedula }}</td>
            <td>{{ empleado.nombres }}</td>
            <td>{{ empleado.apellidos }}</td>
            <td>{{ empleado.correo }}</td>
            <td>{{ empleado.telefono }}</td>
            <td>{{ empleado.direccion }}</td>
            <td>{{ empleado.get_estado_civil_display}}</td>
            <td>{{ empleado.educ_primaria }}</td>
            <td>{{ empleado.educ_secundaria }}</td>
            <td>{{ empleado.educ_superior }}</td>
            <td>
                 <a type="button" class="btn btn-outline-success btn-sm btn-round" data-toggle="tooltip"
                       title="Editar Datos"
                       href="{% url 'empleado:editar_empleado' empleado.id %}"><i class="fa fa-edit"></i>
                </a>
                <a type="button" class="btn btn-outline-danger btn-sm btn-round" data-toggle="tooltip"
                       title="Eliminar Datos"
                       href="{% url 'empleado:eliminar_empleado' empleado.id %}"><i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>

        {% endfor %}
</tbody>
{% endblock %}