{% extends 'prueba/list2.html' %}
{% block table %}
    <thead>
    <tr>
        <!--<th class="center">
            <label class="pos-rel">
                <input type="checkbox" class="ace"/>
                <span class="lbl"></span>
            </label>
        </th> -->
        <th>Fecha Asignacion</th>
        <th>Empleado</th>
        <th>Tipo</th>
        <th>Observacion</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for asig_eq_maq in object_list %}
        <tr>
            <!--<td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace"/>
                    <span class="lbl"></span>
                </label>
            </td> -->
            <td>{{ asig_eq_maq.fecha_asig }}</td>
            <td>{{ asig_eq_maq.empleado}}</td>
            <td>{{ asig_eq_maq.equipo_maquinaria }}</td>
            <td>{{ asig_eq_maq.observacion }}</td>
            <td>
               <a type="button" class="btn btn-outline-success btn-sm btn-round" data-toggle="tooltip"
                       title="Editar Datos"
                       href="{% url 'asignacion_ep_maq:editar' asig_eq_maq.id %}"><i class="fa fa-edit"></i>
                </a>
                <a type="button" class="btn btn-outline-danger btn-sm btn-round" data-toggle="tooltip"
                       title="Eliminar Datos"
                       href="{% url 'asignacion_ep_maq:eliminar' asig_eq_maq.id %}"><i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>

        {% endfor %}
</tbody>
{% endblock %}